<h1><%= @station.name %></h1>

<%= link_to "Edit station", edit_station_path, :class => "btn btn-default" %>


<%= link_to "Delete station", station_path(@station),
                        :confirm => "You sure?",
                        :method => "delete",
                        :class => "btn btn-danger" %>

<%= link_to "Back", stations_path, :class => "btn btn-default" %>
