<h1>Stops!</h1>

<ul>
  <% @stops.each do |stop| %>
    <li><a href='/stops/<%= stop.id %>'><%= stop.id %></a></li>
  <% end %>
</ul>

<%= link_to "New stop", new_stop_path, :class => "btn btn-default" %>
