<h1><%= @stop.name %></h1>

<%= link_to "Edit stop", edit_stop_path, :class => "btn btn-default" %>


<%= link_to "Delete stop", stop_path(@stop),
                        :confirm => "You sure?",
                        :method => "delete",
                        :class => "btn btn-danger" %>

<%= link_to "Back", stops_path, :class => "btn btn-default" %>
